<a mat-list-item [ngStyle]="{'padding-left': (depth * 24) + 'px'}" (click)="onItemSelected(item)"
    [ngClass]="{'active': item.route ? router.isActive(item.route, true) : false, 'expanded': expanded}"
    class="menu-list-item">
    <mat-icon class="routeIcon">
        {{item.iconName}}
    </mat-icon>

    <ng-container *ngIf="menuText">
        <span class="menu-item-text">{{item.displayName}}</span>
        <span fxflex class="twistie-separator"></span>
        <span *ngIf="item.children && item.children.length">
            <mat-icon class="menu-twistie" [@indicatorRotate]="expanded ? 'expanded' : 'collapsed'">
                expand_more
            </mat-icon>
        </span>
    </ng-container>
</a>
<div *ngIf="menuText && expanded">
    <app-side-menu *ngFor="let child of item.children" [item]="child" [depth]="depth+1" [menuText]="menuText">

    </app-side-menu>
</div>